.sidebar-container {
  background: url(../assets/images/bg-sidebar-desktop.svg);
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
  padding: 2rem;
}

.indicator-container {
  margin-bottom: 2rem;
  color: hsl(0, 100%, 100%);
  display: flex;
  align-items: center;
}

.indicator-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height: 2rem;
  width: 2rem;
  border: 1px solid hsl(0, 100%, 100%);
  border-radius: 50%;
}

.indicator-text {
  margin-left: 2rem;
}

.indicator-text h5 {
  color: hsl(231, 11%, 63%);
}

@media (max-width: 1024px) {
  .sidebar-container {
    background: url(../assets/images/bg-sidebar-mobile.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 1rem;
    padding-top: 2rem;
    height: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .indicator-container:not(:last-of-type) {
    margin-right: 2rem;
  }
  .indicator-text {
    display: none;
  }
}
