@font-face {
  font-family: "font";
  src: url("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "font";
  src: url("./assets/fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  transition: all 0.2s ease;
}

html {
  width: 100vw;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(218, 100%, 97%);
  font-family: "font", sans-serif;

}

.form-container {
  padding: 1rem;
  display: flex;
  background-color: white;
  border-radius: 1rem;
  min-height: 500px;
}

form {
  margin: 2rem 5rem 0 0;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  width: 500px;
}

.title,
.summary h3,
.plan-price,
.addon-price,
.inputs-container h3,
.plan strong,
.promo {
  color: hsl(213, 96%, 18%);
}

.blurb {
  margin: 1rem 0;
  color: hsl(231, 11%, 63%);
}

.buttons-container {
  display: flex;
  padding: 0;
  margin-top: auto;
  background-color: white;
}

.buttons-large {
  margin-bottom: 2rem;
}

.buttons-mobile {
  display: none;
}

button {
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  margin-left: auto;
  cursor: pointer;
}

.back {
  margin: 0;
  padding: 0;
  background-color: inherit;
  color: hsl(231, 11%, 63%);
}

.back:hover {
  color: hsl(213, 96%, 18%);
}

.forward {
  color: white;
  background-color: hsl(213, 96%, 18%);
}

.forward:hover {
  opacity: 90%;
}

.last {
  background-color: hsl(243, 100%, 62%);
}

.last:hover {
  background-color: hsl(228, 100%, 84%);
}

@media (max-width: 1024px) {

  .form-container {
    flex-direction: column;
    padding: 0;
    background-color: hsl(218, 100%, 97%);
    width: 100%;
  }

  form {
    margin: 0;
    position: relative;
    background-color: white;
    border-radius: 0.5rem;
    padding: 2rem 1.5rem;
    width: 80%;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    margin-top: -2rem;
  }

  .title {
  font-size: 24px;
}

  .buttons-mobile {
    display: flex;
    padding: 1rem;
    margin-top: 2rem;
  }

  .buttons-large {
    display: none;
  }
}
